{% extends 'base.html' %}

    {% block content %}
        <h3>Intern Demo</h3>
        <p>Adhoc Softwares takes years of hard work, Passion, Dedication, and Teamwork to become a brand from being a name. Adhoc Softwares is a software company based in Coimbatore, India was established back in the year 2009 to fulfill the IT requirements of Startups to large corporate.</p>
        <p>Adhoc Softwares boasts a passionate team that is well-versed in software development, web development, and mobile application development. Our priority is to offer various clients who are from both small scale and fortune companies in various industries like Manufacturing, Education, E-commerce, Medical, Jewellery, and FMCG. We Provide a result-driven approach to digital success to attain our client satisfaction.</p>
        <p>Start your journey with us to boot up your organization using our highly innovated soft skill technology as a hierarchy for your business.</p>
        <p>We are accomplished with,</p>
        <p>New Technologies</p>
        <p> Innovative Approach</p>
        <p>Dedicated Developers</p>
        <p>Quiet Attainable Team Support</p>
        <p>Cost Effectual</p>
        <p>Referance link:  <a href = "https://www.adhocsoftwares.com/"> Adhoc webpage </a></p>
    {% endblock %}
