{% load static %}

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
</div>
      <h1><a href="{% static 'sidenav/index.html' %}" class="logo">Adhoc Intern Demo</a></h1>
<ul class="list-unstyled components mb-5">
  <li class="active">
    <a href="#"><span class="fa fa-home mr-3"></span> Homepage</a>
  </li>
  <li>
      <a href="#"><span class="fa fa-user mr-3"></span> Dashboard</a>
  </li>
  <li>
    <a href="#"><span class="fa fa-sticky-note mr-3"></span> Friends</a>
  </li>
  <li>
    <a href="#"><span class="fa fa-sticky-note mr-3"></span> Subcription</a>
  </li>
  <li>
    <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
  </li>
  <li>
    <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
  </li>
</ul>

</nav>


<!-- Page Content  -->
<!-- <div id="content" class="p-4 p-md-5 pt-5">
<h2 class="mb-4">We have 12 Years of Experience</h2>
<p>Adhoc Softwares takes years of hard work, Passion, Dedication, and Teamwork to become a brand from being a name. Adhoc Softwares is a software company based in Coimbatore, India was established back in the year 2009 to fulfill the IT requirements of Startups to large corporate.</p>
<p>Adhoc Softwares boasts a passionate team that is well-versed in software development, web development, and mobile application development. Our priority is to offer various clients who are from both small scale and fortune companies in various industries like Manufacturing, Education, E-commerce, Medical, Jewellery, and FMCG. We Provide a result-driven approach to digital success to attain our client satisfaction.</p>
</div>
</div> -->

